table{
    width: 100%;
}


table, tr, th, td{
    border: thin solid black;
    border-collapse: collapse;
    padding: 2px;
}

th, td{
    text-align: center;
}

th{
    font-size: 15px;
}

p{
    margin: 0;
    color: tomato;
}

ul{
    margin: 0;
    padding: 0;
}

select{
    height: 100%;
}

.actions-class {
    background-color: darkturquoise;
    color: white;
    padding: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.actions-class:hover{
    background-color: lightslategray;
}

.actions-class-back{
    background-color: red;
    color: white;
    padding: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.actions-class-back:hover{
    background-color: lightslategray;
}

.action-accepted button:hover{
    background-color: paleturquoise;
}

.button-initial{
    background-color: green;
    color: white;
    padding: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    grid-row: 9/10;
}

.button-initial:hover{
    background-color: lightgreen;
}

.button-register{
    background-color: lightcoral;
    color: white;
    padding: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    grid-row: 10/11;
}

.button-register:hover{
    background-color: lightsalmon;
}

.button-close{
    background-color: red;
    color: white;
    padding: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button-close:hover{
    background-color: firebrick;
}

.card-style{
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    margin: 0 20px;
}

.content-label-name{
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/2;
}

.content-label-last{
    text-align: left;
    grid-column: 1/2;
    grid-row: 3/4;
}

.content-input-name{
    text-align: end;
    grid-column: 2/3;
    grid-row: 1/2;
}

.content-input-error-name{
    text-align: end;
    grid-column: 2/3;
    grid-row: 2/3;
}

.content-input-last{
    text-align: end;
    grid-column: 2/3;
    grid-row: 3/4;
}

.content-input-error-last{
    text-align: end;
    grid-column: 2/3;
    grid-row: 4/5;
}
.content-label-dni{
    text-align: left;
    grid-column: 1/2;
    grid-row: 5/6;
}

.content-input-dni{
    text-align: end;
    grid-column: 2/3;
    grid-row: 5/6;
}

.content-input-error-dni{
    text-align: end;
    grid-column: 2/3;
    grid-row: 6/7;
}

.content-input-error-userName{
    text-align: end;
    grid-column: 2/3;
    grid-row: 7/8;
}

.content-input-error-password{
    text-align: end;
    grid-column: 2/3;
    grid-row: 9/10;
}

.content-label-email{
    text-align: left;
    grid-column: 1/2;
    grid-row: 7/8;
}

.content-input-email{
    text-align: end;
    grid-column: 2/3;
    grid-row: 7/8;
}

.content-input-error-email{
    text-align: end;
    grid-column: 2/3;
    grid-row: 8/9;
}

.content-input-button{
    justify-content: center;
    grid-column: 1/2;
    grid-row: 9/10;
}

.content-button-back{
    justify-content: center;
    grid-column: 1/2;
    grid-row: 10/11;
}

.content-button-register{
    justify-content: center;
    grid-column: 2/3;
    grid-row: 10/11;
}

.content-form{
    padding: 20px 0px;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}

.container-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.errors-style-login{
    grid-row: 1/2;
    background-color: tomato;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.errors-style-register{
    grid-row: 1/2;
    grid-column: 1/3;
    color: white;
    justify-content: center;
    background-color: tomato;
    align-items: center;
    margin: 5px;
}

.form-style{
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        padding: 0 60px;    
}

.form-style input{
    width: 100%;
}

.button-search{
    background-color: powderblue;
    border-radius: 5px;
}

.button-search:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

.nav-button{
    display: flex;
    flex-direction: row;
}

.nav-button >*:not(:last-child){
    margin-right: 3px;
}

.li-button{
    margin: 0;
    list-style: none;
}

.li-button button{
    border: 3 solid black;
    border-radius: 5px;
    cursor: pointer;
}

.login-form{
    display: grid;
    height: 200px;
    width: 200px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 1fr);
    padding: 0 60px;
}

.login-box {
    background-color: lightskyblue;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
  }

  .register-form{
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.register-box {
    background-color: lightskyblue;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
  }

.content-label-name-register{
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.content-input-name-register{
    text-align: end;
    grid-column: 2/3;
    grid-row: 2/3;
}

.content-input-error-name{
    text-align: end;
    grid-column: 2/3;
    grid-row: 3/4;
}

.content-label-last-register{
    justify-content: center;
    grid-column: 1/2;
    grid-row: 4/5;
}

.content-input-last-register{
    text-align: end;
    grid-column: 2/3;
    grid-row: 4/5;
}

.content-input-error-last{
    text-align: end;
    grid-column: 2/3;
    grid-row: 5/6;
}

.content-label-userName-register{
    justify-content: center;
    grid-column: 1/2;
    grid-row: 6/7;
}

.content-input-userName-register{
    text-align: end;
    grid-column: 2/3;
    grid-row: 6/7;
}

.content-input-error-userName{
    text-align: end;
    grid-column: 2/3;
    grid-row: 7/8;
}

.content-label-password-register{
    justify-content: center;
    grid-column: 1/2;
    grid-row: 8/9;
}

.content-input-password-register{
    text-align: end;
    grid-column: 2/3;
    grid-row: 8/9;
}

.content-error-password-register{
    text-align: end;
    grid-column: 2/3;
    grid-row: 9/10;
}

.content-label-userName-login{
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    grid-row: 2/3;
}

.content-input-userName-login{
    text-align: center;
    grid-row: 3/4;
}

.content-error-userName-login{
    text-align: end;
    grid-row: 4/5;
}

.content-label-password-login{
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    grid-row: 5/6;
}

.content-input-password-login{
    text-align: center;
    grid-row: 6/7;
}

.content-error-password-login{
    text-align: end;
    grid-row: 7/8;
}

.button-selected{
    background-color: lightskyblue;
}

.pagination-style{
    display: flex;
    justify-content: end;
    margin-top: 5px;
    height: 30px;
}

.pagination-style  select{
    height: 100%;
}


.pagination-style >*:not(:last-child){
    margin-right: 4px;
}

.search-alumn{
    display: flex;
    margin-bottom: 5px;
    height: 30px;
}

.text-search{
    flex-grow: 1;
}

.table-alumns{
    padding: 0 10px;
}

.table-style{
        width: 100%;
        border: 1;
        border-collapse: collapse;
}

.text-pagination{
    height: 100vh;
}

.title-main{
    color: purple;
}

.title-main:hover{
    cursor: pointer;
    color: tomato;
}